.container{
    @apply relative w-full;

}
.categoryImg{
    @apply overflow-hidden w-full h-20 relative rounded-2xl flex justify-end;
}
.img{
    @apply absolute right-0;
    top: -.5rem;
    right: .9rem;
    width: 70px;
}
.containerCard{
    @apply bg-[var(--Dark-blue)] transition-all duration-300 ease-in-out border-cyan-400 w-full h-44 absolute rounded-2xl p-5 top-10;
    
}
.containerCard:hover{
    @apply bg-[var(--Desaturated-blue)] cursor-pointer;
}
.category{
    @apply flex justify-between;
}
.ellipsis{
    @apply cursor-pointer;
}

.time{
    @apply text-4xl font-light mt-8;
}

.previousTime{
    @apply font-extralight mt-2 text-[var(--Pale-Blue)];
}