:root{ 
--Blue: hsl(246, 80%, 60%);
--Light-orange: hsl(15, 100%, 70%); /*(work)*/
--Soft-blue: hsl(195, 74%, 62%); /*(play)*/
--Light-red: hsl(348, 100%, 68%); /*(study)*/
--Lime-green: hsl(145, 58%, 55%); /*(exercise)*/
--Violet: hsl(264, 64%, 52%); /*(social)*/
--Soft-yellow: hsl(43, 84%, 65%); /*(self care)*/
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

}
#root {
  max-width: 1280px;
  margin: 0 auto;
    /* text-align: center; */
}

.App{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "profile card card card"
  "profile card card card";
  gap: 1rem;
  height: 450px;
}