:root {
  font-family: "Rubik", serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--Very-dark-blue);
}
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

